body {
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frente img{
    height: 100%;
    width: 100%;
}

.frente{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 8px 12px black;
}

.frente h1{
    font-size: 15rem;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

}

.imagen img{
    width: 920px;
    height: 920px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
