body {
    background-color: rgb(255, 255, 255);

}

.frente img {
    width: 100%;
    height: 100%;
}

.frente {
    overflow: hidden;
    border-radius: 10px;
}

.frente h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15rem;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

}

.contenido video {
    margin-left: 25%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.contenido img {
    margin-left: 25%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.contenido h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5rem;
    width: 920px;
    margin-left: 25%;
}

.contenido h4 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 920px;
    margin-left: 25%;
}

.contenido h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 3.5rem;
    margin-top: 5%;
    margin-left: 25%;
}

.contenido h2 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 2.3rem;
    margin-top: 5%;
    margin-left: 25%;
}